* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3d64e6;
}
.container {
  background-color: #fff;
  width: 80vw;
  max-width: 37em;
  padding: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
}
.search-wrapper{
    display: grid;
    grid-template-columns: 9fr  3fr;
    gap: 20px;

}
.search-wrapper button{
    font-size: 20px;
    background-color: #3d64e6;
    color: #fff;
    padding: 10px 15px ;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}
.search-wrapper input{
    font-size: 20px;
    padding-left: 15px;
    height: 50px;
    outline: 0;
    border: 1px solid gainsboro;
    border-radius: 20px;
    color: #000;
}
#result{
    margin-top: 30px;
}
.container .flag-img{
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 20px auto;
}
.container  h2{
    font-weight: 600;
    color: #000;
    text-align: center;
    text-transform:uppercase ;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.data-wrapper{
    margin-bottom: 1em;

}
.container h4{
    display: block;
    font-weight: 500;
    color: #000;
}
.container span{
    color: gray;
}
.container h3{
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: crimson;
}